{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        ring/ring-core {:mvn/version "1.4.0"}
        com.cognitect/transit-clj {:mvn/version "0.8.285"}
        com.cognitect/transit-cljs {:mvn/version "0.8.239"}
        cljsjs/jquery {:mvn/version "2.2.4-0"}
        }}
